body{
    margin: 0;
    font-family: sans-serif;
    background-color: green;
}

.content{
    margin: 0 auto;
    width: 400px;
}

table, td, th{
    border: 1px solid #aaa;
}

th{
    height: 30px;
}

td{
    text-align: center;
    padding: 5px;
}

.form{
    margin-top: 20px;
}

#content{
    width: 70%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navbar {
  float: left;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.navbar:hover {
  background-color: #111;
}

ul.flashes {
    color: red;
}