.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1400px;
    margin: 2rem auto;
}

.grid-item {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    color: #333;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}