{%extends 'base.html' %}

{% block head %}
<title>Blog</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1>Welcome to the blog!</h1>
    {% if g.user and g.user.is_moderator %}
        <a class="action" href="{{ url_for('blog.create') }}">New post</a>
    {% else %}
        <h2>You cannot create anything!</h2>
    {% endif %}
    {% if posts %}
        {% for blog_post in posts %}
            <article class="post">
                <header>
                    <div>
                        <h1>{{ blog_post.title }}</h1>
                        <div class="about">by {{ blog_post.user.username }} on {{ blog_post.post.date.strftime('%Y-%m-%d') }}</div>
                    </div>
                </header>
                <p class="body">{{ blog_post.post.body }}</p>
                {% if blog_post.user.id == g.user.id %}
                    <a href="{{ url_for('blog.update', post_id=blog_post.post.id) }}">Edit</a>
                    <a href="{{ url_for('blog.delete', post_id=blog_post.post.id) }}">Delete</a>
                {% endif %}
            </article>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>There are no blog posts. Please add something!</h2>
    {% endif %}
</div>
{% endblock %}