{%extends 'base.html' %}

{% block head %}
<title>Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/blog_index.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
{% endblock %}

{% block body %}
<main class="container">
    <h2 style="padding-top: 2rem;margin-bottom: 2rem">
        FT App Blog
    </h2>
    <div class="col-md-12">
        {% if posts %}
            {% for blog_post in posts %}
                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">{{ blog_post.title }}</h2>
                    <p class="blog-post-meta">
                        by {{ blog_post.user.username }} on {{ blog_post.date.strftime('%Y-%m-%d') }}
                            {% if blog_post.last_edited %}
                                , last edited on {{ blog_post.last_edited.strftime('%Y-%m-%d') }}
                            {% endif %}
                    </p>
                    <p class="preserve-whitespace">{{ blog_post.body }}</p>
                    {% if blog_post.user.id == g.user.id %}
                        <a class="btn-user" href="{{ url_for('blog.update', post_id=blog_post.id) }}">Edit</a>
                        <a class="btn-user" href="{{ url_for('blog.delete', post_id=blog_post.id) }}">Delete</a>
                    {% endif %}
                </article>
            {% endfor %}
        {% else %}
            <h2>There are no blog posts. Please add something!</h2>
        {% endif %}
    </div>
    {% if g.user and g.user.is_moderator %}
    <a class="mb-4 btn" href="{{ url_for('blog.create') }}">New post</a>
    {% endif %}
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}