{%extends 'base.html' %}

{% block head %}
<title>Bodyweight Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/bw_tracker.css') }}">
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.4.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.4.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.4.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.4.min.js"
        crossorigin="anonymous"></script>

<script>
   {{ bokeh_script }}
</script>

{% endblock %}

{% block body %}
<div class="container-fluid col-lg-8 col-md-10 col-sm-12">
   <div class="form-grid-container">
         <h1>Body weight tracker</h1>
         <div class="form-grid-item"><h3>Create new record</h3></div>
            <form method="post">
               <div class="form-label"> {{ form.date.label }}{{ form.date() }}</div>
               <div class="form-label"> {{ form.weight.label }}{{ form.weight() }}</div>
               <button class="btn btn-primary" type="submit">Add record</button>
            </form>
  </div>

    <div id="myplot"></div>
     {% if records|length < 1 %}
        <h4>There are no body weight records so far. Please add some records first.</h4>
     {% else %}
         <div class="centered_table">
            <table class ="bw_table centered_table">
               <thead>
                  <tr>
                     <th scope="col">Date</th>
                     <th scope="col">Weight [kg]</th>
                     <th scope="col">Action</th>
                  </tr>
               </thead>
               <tbody>
               {% for record in records %}
                  <tr>
                     <td>{{ record.date.date() }}</td>
                     <td>{{ record.weight }}</td>
                     <td>
                        <button><a href="/bw_tracker/delete/{{record.id}}">Delete</a></button>
                        <button><a href="/bw_tracker/update/{{record.id}}">Update</a></button>
                     </td>
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
         {% endif %}
   </div>
</div>

<script>
fetch('/bw_tracker/plot')
 .then(function(response) { return response.json(); })
 .then(function(item) { return Bokeh.embed.embed_item(item); })
</script>
{% endblock %}