{%extends 'base.html' %}

{% block head %}
<title>Personal Trainers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/personal_trainers.css') }}">
{% endblock %}

{% block body %}
<main>
  <div class="grid-container">
      <div class="grid-item">
        <h3>Adrian "The King"</h3>
        <img src="/static/img/personal_trainers/Adrian_the_king.jpg" alt="Adrian The King" title="Adrian The King">
      </div>
      <div class="grid-item">
          <h3>Conchita</h3>
          <img src="/static/img/personal_trainers/Conchita.jpg" alt="Conchita" title="Conchita">
      </div>

      <div class="grid-item">
          <h3>Ganesh Revu</h3>
          <img src="/static/img/personal_trainers/Ganesh.jpg" alt="Ganesh Revu" title="Ganesh Revu">
      </div>
  </div>
</main>
{% endblock %}