<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<ul class="navbar">
    <li class="navbar"><a class="navbar" href="{{ url_for('bw_tracker.index') }} ">Body weight tracker</a></li>
    <li class="navbar"><a class="navbar" href="{{ url_for('exercises.index') }}">Exercises</a></li>
    <li class="navbar"><a class="navbar" href="{{ url_for ('training_planner.index') }}">Training planner</a></li>
    <li class="navbar"><a class="navbar" href="{{ url_for ('personal_trainers.index') }} ">Personal trainers</a></li>
</ul>
    {%block body %}{% endblock %}
</body>
</html>