{%extends 'base.html' %}

{% block head %}
<title>Fitness Tracker App</title>
{% endblock %}

{% block body %}
<div class="content">
   {% if g.user %}
      <h2>Hello, {{ g.user.username }}!</h2>
   {% else %}
      <h2>Hello, unknown user!</h2>
   {% endif %}
   <h1>Fitness Tracker App</h1>
   <a href="{{ url_for('blog.index') }}">Blog</a><br>
   <a href="{{ url_for('bw_tracker.index') }}">Body weight tracker</a><br>
   <a href="{{ url_for('exercises.index') }}">Exercises</a><br>
   <a href="{{ url_for('training_planner.index') }}">Training planner</a><br>
   <a href="{{ url_for('personal_trainers.index') }}">Personal trainers</a><br>
   <a href="{{ url_for('about.index') }}">About</a><br>
</div>
{% endblock %}