{%extends 'base.html' %}

{% block head %}
<title>Modify training unit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/training_planner.css') }}">
{% endblock %}

{% block body %}

<div class="content" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h3>Modify your training unit</h3>
    {% if form.exercises %}
        <table>
             <tr>
                <th>Name</th>
                <th>Sets</th>
                <th>Repetitions</th>
             </tr>
             <form method="post">
             {% for exercise_form in form.exercises %}
                    <tr>
                        {{ exercise_form.ex_id() }}
                        <td><div>{{ exercise_form.name() }} </div></td>
                        <td><div>{{ exercise_form.sets() }}</div></td>
                        <td><div>{{ exercise_form.reps() }}</div></td>
                    </tr>
             {% endfor %}
        </table>
         <div style="margin-top: 1rem;">
            {{ form.submit() }}
         </div>
    </form>


    {% else %}
    <h2>No training unit!</h2>
    {% endif %}
</div>
{% endblock %}