{%extends 'base.html' %}

{% block head %}
<title>Modify training unit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/training_planner.css') }}">
{% endblock %}

{% block body %}

<div class="content" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h3>Modify your training unit</h3>
    {% if form.exercises %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <table border="1">
            <thead>
                <tr>
                    <th>Exercise Name</th>
                    <th>Sets</th>
                    <th>Repetitions</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise_form in form.exercises %}
                <tr>
                    {% set indx = loop.index %}
                    {{ exercise_form.ex_id(value=data[indx][0]) }}
                    <td>{{ exercise_form.exercise_name(value=data[indx][1]) }}</td>
                    <td>{{ exercise_form.sets(value=data[indx][2]) }}</td>
                    <td>{{ exercise_form.reps(value=data[indx][3]) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Save All">
    </form>

    {% else %}
    <h2>No training unit!</h2>
    {% endif %}
</div>
{% endblock %}