{% extends 'base.html' %}

{% block head %}
    <title>{% block title %}Register{% endblock %}</title>
{% endblock %}

{% block body %}
    <form method="post">
        <div> {{ form.username.label }} : {{form.username() }}</div>
        <div> {{ form.email.label }} : {{form.email() }}</div>
        <div> {{ form.password.label }} : {{form.password() }}</div>
        <div> {{ form.confirm_pass.label }} : {{form.confirm_pass() }}</div>
        <input type="submit" value="Register">
    </form>
{% endblock %}