{% extends 'base.html' %}

{% block head %}
<title>{% block title %}User panel{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/userpanel.css') }}">
{% endblock %}

{% block body %}
    <ul>
        <h1>User panel</h1>
        <div class="btn-group">
          <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-sm btn-primary">Log Out</button></a>
        </div>
        <li>Your e-mail: </li>
        <li>Your photo: </li>
    </ul>
{% endblock %}