{% extends 'base.html' %}

{% block head %}
<title>{% block title %}User panel{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/userpanel.css') }}">
{% endblock %}

{% block body %}
    <ul>
        <h1>User panel options!</h1>
        <li>User panel 101</li>
        <div class="btn-group">
          <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-sm btn-primary">Log Out</button></a>
        </div>
        <li>Have fun and all good stuff</li>
    </ul>
{% endblock %}